################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Acrostograph/obj
/Acrostograph/bin/Debug
/Acrostograph/bin/x64/Debug
/packages
